{{> Header }}

<section id="homepage">
    <img src="./../../images/CloudySky.jpg" alt="Cloudy Sky" id="background-image">
    <h1 id="logo">{{title}}</h1>
    <p id="authors">By Elsana and Joey</p>
</section>

<section id="testimonial">
    <blockquote>"This app has changed the way I plan my trips!" - Everyone at John Abbott</blockquote>
</section>

{{> Footer }}
